---
layout: default
title: bookshelf
---

<div>
<button class = "view-select-button" id = "show-rip" type="button">
    Reading-In-Progress
</button>
<button class = "view-select-button" id = "show-fin-reading" type="button">
    Finished (CS/Engineering)
</button>
<button class = "view-select-button" id = "show-fin-reading-etc" type="button">
    Finished (Etc)
</button>
</div>

<table id = "still-reading" class = "bookshelf-table">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>My Progress</th>
        </tr>
    </thead>

    <tbody>
{% for book in site.data.bookshelf_still_reading %}
    <tr>
        <td>{{ book.name }}</td>
        <td><progress value="{{ book.progress }}" max="{{ book.tot_pages }}"></progress></td>
    </tr>
{% endfor %}
    </tbody>
</table>

<table id = "finished-reading" class = "bookshelf-table fin-reading">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Finished Date</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
{% for book in site.data.bookshelf_done %}
    <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.finished_date }}</td>
        <td>{{ book.rating }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

<tabie id = "finished-reading-etc" class="bookshelf-table fin-reading">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Finished Date</th>
            <th>Rating</th>
        </tr>
    </thead>

    <tbody>
{% for book in site.data.bookshelf_done_etc %}
    <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.finished_date }}</td>
        <td>{{ book.rating }}</td>
    </tr>
{% endfor %}
    </tbody>
</tabie>

<style>
    #still-reading {
        display: block;
    }
    .fin-reading {
        display: none;
    }
    #show-rip {
        background-color: #ac4142;
    }
    .show-finished-reading {
        background-color: rgb(234, 194, 194);
    }
    .view-select-button {
        color: white;
        font-size: 1em;
        border-radius: 0.25em;
    }
    .bookshelf-table {
        margin-top: 0.2em;
    }
    .bookshelf-table > thead {
        color: white;
        background: #ac4142;
    }
</style>

<script>
    const still_reading = document.getElementById("still-reading");
    const finished_reading = document.getElementById("finished-reading");
    const finished_reading_etc = document.getElementById("finished-reading-etc");
    
    const button0 = document.getElementById("show-rip");
    const button1 = document.getElementById("show-fin-reading");
    const button2 = document.getElementById("show-fin-reading-etc");

    const active_bg_color = "#ac4142";
    const inactive_bg_color = "rgb(234, 194, 194)";

    button0
    .addEventListener("click", () => {
        still_reading.style.display = "block";
        finished_reading.style.display = "none";
        finished_reading_etc.style.display = "none";
        button0.style.backgroundColor = active_bg_color;
        button1.style.backgroundColor = inactive_bg_color;
        button2.style.backgroundColor = inactive_bg_color;
    });
    
    button1
    .addEventListener("click", () => {
        still_reading.style.display = "none";
        finished_reading.style.display = "block";
        finished_reading_etc.style.display = "none";
        button0.style.backgroundColor = inactive_bg_color;
        button1.style.backgroundColor = active_bg_color;
        button2.style.backgroundColor = inactive_bg_color;
    });

    button2
    .addEventListener("click", () => {
        still_reading.style.display = "none";
        finished_reading.style.display = "none";
        finished_reading_etc.style.display = "block";
        button1.style.backgroundColor = inactive_bg_color;
        button0.style.backgroundColor = inactive_bg_color;
        button2.style.backgroundColor = active_bg_color;
    });
</script>