<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
  
    <link rel="stylesheet" href="{{ '/assets/css/hyde/styles.css' | relative_url }}">
    <link rel="stylesheet" href="/assets/css/hyde/hyde.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% if page.title == "404: Page not found" %}
      <link rel="stylesheet" href="/assets/css/404.css">
    {% elsif page.title == "SubmitDiary" %}
      <link rel="stylesheet" href="/assets/css/submit_diary.css">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/image/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {% seo title=false %}
</head>
  