/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#console {
  background-color:#401637;
	font-family: courier, monospace;
	color: #fff;
	margin-left:auto; 
	margin-right:auto;
	margin-top:40px;
	font-size:18px;
}

a {
	color: #0bc;
	text-decoration: none;
}

.a {
	color: #0f0;
}

.c {
	color: #0bc;
}

.b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}