/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {

}

#console {
  background-color: #000000;
	font-family: courier, monospace;
	color: #fff;
	margin-left:auto; 
	margin-right:auto;
	margin-top:24px;
	font-size:20px;
}

a {
	color: #0bc;
	text-decoration: none;
}

.a {
	color: #0f0;
}

.c {
	color: #0bc;
}

.b {
	color: #ff0096;
}

#k {
    animation: change 1s;
}

#op{
    color: #888888
}

img.joebutton:hover{
	opacity: 0.65;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}