#DataInput {
  visibility : hidden;
}

.login {
  margin: auto;
  border-radius: 0.4em;
  background-color: #ac4142;
  max-width: 22em;
  padding: 0.15em;
}

.login h4 {
  color: white;
  text-align: center;
  margin: auto;
}

.form {
  position: relative;
  margin: 0 auto 0.10em;
  max-width: 20em;
  text-align: center;
}

.form input {
  outline: 0;
  border-radius: 0.25em;
  width: 100%;
  border: solid white 0.1em;
  padding: 0.16em;
  margin: 0.05em;
  color: white;
  background-color: #ac4142;
}

.form button {
  outline: 0;
  width: 55%;
  margin-top: 0.4em;
  margin-bottom: 0;
  border-radius: 0.3em;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  color: WHITE;
  background-color: #ac4142;
}

#SignInButton:active {
  color: #ac4142;
  background: WHITE;
}